## Đọc dữ liệu

Chúng ta có thể sử dụng thư viện **pandas** để thuận tiện trong việc này.

In [16]:
import pandas as pd
import numpy as np

data = pd.read_csv('data.csv')
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

## Xử lý dữ liệu thiếu

Ở dữ liệu bên trên, các mục "NaN" là các giá trị bị thiếu. Để xử lý, những cách thường được sử dụng là *áp đặt* và *xóa bỏ*. Áp đặt dùng để thay thể dữ liệu thiếu bằng một giá trị thay thế, trong khi xóa bỏ để bỏ qua chúng.

In [17]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:,2]
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

Cách bên trên chúng ta tách dữ liệu ban đầu thành *inputs* và *outputs*. Hàm *fillna()* dùng để điền giá trị vào những vị trí thiếu. Ở đây, chúng ta điền giá trị trung bình theo cột vào những ô còn trống.

Trong dữ liệu bên trên, ta có thể coi NaN là một hạng mục riêng. Vì cột Alley chỉ có hai hạng mục là "Pave" và "NaN", pandas có thể tự động chuyển đổi cột này thành hai cột "Alley_Pave" và "Alley_nan". Hai cột này sẽ có giá trị 0 và 1 tương ứng với cột Alley ban đầu.

In [18]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

## Chuyển đổi sang dạng Tensor

Chúng ta có thể chuyển đổi inputs và outputs bên trên sang dạng tensors để có thể dễ dàng thao tác

In [19]:
x = np.array(inputs)
x

array([[3., 1., 0.],
       [2., 0., 1.],
       [4., 0., 1.],
       [3., 0., 1.]])